body{
  background: rgb(88, 58, 19);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  background: rgb(88, 58, 19);
  flex: 1;

}

.header-links {
  display: flex;
  justify-content: right;
  gap: 50px;
  padding-right: 3%;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: rgb(231, 231, 231);
}

li {
  list-style: none;
  }
h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top:-1%;
}

.Content1 div {
  display: flex;
  justify-content: left;
  background: rgb(119, 80, 29);
  flex: 1;
  top:2;
  margin-left: 10%;
  margin-right: 50%;
}
div.img {
  position: absolute;
  left: 1100px;
  top: 150px;
  border:solid;
  box-sizing: border-box;
}

h2 {
  font-size: 60px;
  margin-left: 5%;

}

h3 {
  font-size: 20px;
  padding-left: 30px;
  margin-top: -3%;
  margin-left: 3%;
  text-align: left;
}

.Content2 div {
  display: flex;
  background: rgb(182, 148, 103);
  height: 200px;
  flex: 1 1 auto;
  margin-left: 5%;
  margin-right: 10%;
  text-align: left;
}


footer {
  display: flex;
  min-height: 1vh;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(75, 48, 14);
  margin-left: 50%;
  margin-right: 50%;
}